<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="backend-host" content="<%= process.env.HOST %>">
    <title>License - LChat</title>
    <link href="../../style.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.3.0/marked.min.js"></script>
    <link rel="stylesheet" href="../../styles/info/terms.css">
</head>

<body class="bg-gray-100 text-gray-800">

    <main class="max-w-3xl mx-auto p-6 bg-white shadow-md rounded-md mt-6">
        <h1 class="text-2xl font-bold text-gray-800 mb-4">MIT License</h1>
        <p class="text-gray-600">Last Updated: 06-03-2025</p>

        <div id="rendered-markdown" class="prose text-gray-700"></div>
    </main>
    <script src="../../scripts/info/terms.js"></script>

</body>

</html>
